{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('app_affichageAdmin') }}" class="btn btn-dark">Retour</a>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="w-50 p-4 border rounded shadow bg-white">
            <h2 class="text-center text-primary">Ajouter une formation</h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
