{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="w-25">
            <h1 class="text-center text-primary">Connexion</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
