{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center mt-5">
        <img src="/images/symfony.png" alt="Logo" class="img-fluid mb-4" style="max-width: 200px;">
        <h1 class="mb-3">Bienvenue !</h1>
        <p class="text-muted">Veuillez vous connecter</p>
        <a href="{{ path('app_connexion') }}" class="btn btn-primary btn-lg">Connexion</a>
    </div>
{% endblock %}
